/* 
START CONFIG
*/

html,
body{
    height: 100%;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
}

/* FOOTER */
.wrapper{
    min-height: 100%;
    margin-bottom: -50px;
}

#footer,
.push{
    height: 50px;
}


/* OTHER PARTs */

#navbar-content{
    text-align: center;
    color: white;
    margin-left: 25px;
}

/* Block typed effect and button job */
.block-position{
    width: 80%;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
/* Btn Job opportunities (home.html */

#btn-job {
    width: 270px;
    font-size: 22px;
    border-radius: 30px;
    margin-bottom: -50px;
}

/* Labels with icons(left side of inputs */

.side-label {
    width: 45px;
}

/* buttons inside the modals popup */

#btn-cancel , #btn-send{
    width: 65px;
}

#back{
    margin-right: 25px;
    font-size: 25px;
}

/* Spinner frontend (animation */
#preloader{
    border: 6px solid #a5a5a5;
    border-radius: 50%;
    border-top-color: #ffc107;
    position: absolute;
    top: 50%;
    left: calc(50% - 32px);
    width: 55px;
    height: 55px;
    z-index: 100;
    animation: preloader 1.2s;
    animation-fill-mode: forwards;
}

@keyframes preloader {
    to {
        transform: rotate(360deg);
        opacity: 0;
    }
}


/* 
#Backend Spinner (AJAX)
*/
#bg-spinner {
    top: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    display: none;
    background: rgba(1, 1, 1, 0.7);
}

#position-spinner {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#spinner {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 6px #d3d3d3 solid;
    border-top: 6px #ffc107 solid;
    animation: loading 1s infinite linear;
}

@keyframes loading{
    to {
        transform: rotate(360deg);
    }
}

/* 
CUSTOM SWEETALERT
*/
/* All texts centered */
.swal-text {
    text-align: center;
}

/* Icon  Settings */
.swal-icon--success:before,
.swal-icon--success:after,
.swal-icon--success__hide-corners{
    background: none !important;
}
.swal-icon--success{
    /* Color of ring */
    border-color: orange;
}
.swal-icon--success__line {
    /* Animations */
    background-color: orange;
}
/* Button settings */

.swal-button{
    padding: 7px 19px;
    border-radius: 5px;
    background-color: #111;
    font-size: 12px;
    border: 1px solid #111;
}

.swal-button:focus{
    /* Remove the silver border around the native button */
    box-shadow: none;
}

.swal-button:not([disabled]):hover{
    /* hover effect */
    background: transparent;
    color: #111;
    border: 1px solid #111;
}

/* 
Responsive Modes
*/

/* Resolution for tablets */
@media(max-width: 575px){
    #footer{
        font-size: 12px;
    }
    body{
        overflow-y: visible;
    }
    #navbar-content{
        font-size: 16px;
        margin-left: 15px;
    }
    .typed-text{
        font-size: 24px;
    }
    #btn-job{
        font-size: 15px;
        width: 200px;
    }

    .job {
        font-size: 13px;
    }
    #card-title{
        font-size: 14px;
    }
    #back{
        font-size: 20px;
        margin-right: 15px;
    }
}

/* Resolution for smartphones */