
  <!-- Modal (Root)-->
  <div class=" close-modal modal fade "  {% block modal-id %}{% endblock modal-id %} tabindex="-1" aria-labelledby="defaultModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="defaultModalLabel"><i class="fas fa-code"></i>&nbsp;&nbsp; {% block modal-title %}{% endblock modal-title %}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <form method="POST" {% block action %}{% endblock action %} {% block validation %}{% endblock validation %} enctype="multipart/form-data" autocomplete="off">
            {% csrf_token %}
              <div class="modal-body">
                <div class="input-group input-group-sm mb-2">
                  <button class="side-label btn border-secondary bg-light">
                    <i class="fas fa-user-alt"></i>
                  </button>
                  <input type="text" class="form-control name " maxlength="40" {% block id-name %}{% endblock id-name %} name="name" placeholder="Full name">
                </div>

                <div class="input-group input-group-sm mb-2">
                  <button class="side-label btn border-secondary bg-light">
                    <i class="fas fa-universal-access"></i>
                  </button>
                  <input type="text" class="form-control age " maxlength="2" {% block id-age %}{% endblock id-age %} name="age" placeholder="Your age">
                </div>

                <div class="input-group input-group-sm mb-2">
                  <button class="side-label btn border-secondary bg-light">
                    <i class="fas fa-envelope"></i>
                  </button>
                  <input type="email" required class="form-control email" maxlength="40" {% block id-email %}{% endblock id-email %} name="email"  placeholder="Your email">
                </div>

                <div class="input-group input-group-sm mb-2">
                  <button class="side-label btn border-secondary bg-light">
                    <i class="fas fa-phone"></i>
                  </button>
                  <input type="text" class="form-control phone" {% block id-phone %}{% endblock id-phone %} name="phone" placeholder="Your phone">
                </div>

                <div class="input-group input-group-sm mb-2">
                  <button class="side-label btn border-secondary bg-light">
                    <i class="fas fa-map-marker-alt"></i>
                  </button>
                  <input type="text" class="form-control"  maxlength="60" {% block id-address %}{% endblock id-address %} name="address" placeholder="Your address">
                </div>

                <div class="mb-2 mt-3">
                  <textarea class="form-control" maxlength="500" {% block id-experience %}{% endblock id-experience %} name="experience" rows="3" placeholder="Talk a little about your experience."></textarea>
                </div>

                <div class="mb-2 mt-3">
                  <textarea class="form-control" maxlength="500" {% block id-skills %}{% endblock id-skills %} name="skills" rows="3" placeholder="Talk a little about your skills."></textarea>
                </div>

                <hr style="height: 2px;">
                <div class="mb-3">
                  <div class="mb-3" style="font-size: 14px;"><i class="fas fa-cloud-upload-alt"></i>&nbsp;&nbsp; Upload your resume</div>
                    <input type="file" name="file" {% block id-file %}{% endblock id-file %} class="form-control form-control-sm" accept="application/pdf,application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document ">
                    <div class="form-text" style="font-size: 12px;">* Allowed extensions: pdf- doc- docx</div>                 
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark btn-sm btn-cancel" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-secondary btn-sm btn-send">Send</button>
              </div>
        </form>
      </div>
    </div>
  </div>